body {
	font-family: 'Arial';
}
.pm {
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.4);
	background-color: #f7f7f7;
	margin: 5px 0px;
}
.pm .title {
	background-color: #fccd3f;
	overflow: hidden;
	height: 30px;
}
.pm .titleright {
	float: right;
	position: relative;
	height: 100%;
}
.pm .titleleft {
	display: inline-block;
	height: 100%;
}
.pm .tbitem {
	padding: 0px 10px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.pm .badgecontainer {
	padding: 0px 5px;
}
.pm .titlecollapse:hover {
	background-color: #ef9b2d;
}
.headericon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAXUlEQVR4AWMAgVGwjkGKNA3/GT4wZDAwkqABDA8zaBKtAQp/MjQwsBGnAQGvMVgTpwEB/zFMZ+AjoAEDPmUIpKGGfwzTGPho5OmfDPUMbKREnAYpSSOdgZGSxDcKADdXTK1stp++AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 15px;
	display: inline-block;
	top: -2px;
	height: 24px;
	vertical-align: middle;
	transition: transform 0.4s;
	transform: rotate(90deg);
}
.gangaicon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	width: 25px;
	display: inline-block;
	top: -2px;
	height: 100%;
	vertical-align: middle;
	transition: transform 0.4s;
	transform: rotate(0deg);
}
.headericoncollapsed {
	transform: rotate(0deg);
}
.pm .badges {
	text-align: center;
}
.badgerunning {
	background-color: #42A5F5;
}
.badgecompleted {
	background-color: #20B520;
}
.badgefailed {
	background-color: #DB3636;
}
.badgeinfo {
	background-color: #17a2b8;
}
.badgeexecutor {
  font-size: 80%;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  margin: 0px 2px;
  background-color: rgba(117, 57, 0, 0.65);
}
.badgecompleted, .badgefailed, .badgerunning, .badgeinfo {
	font-size: 80%;
	padding: 5px 8px;
	color: white;
	border-radius: 2px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
	white-space: nowrap;
	font-weight: bold;
	
	margin: 0 2px;
}
.pm .tabbuttonicon {
	display: inline-block;
	position: relative;
	top: -2px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.pm .stopbuttonicon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAr0lEQVR4Ab2TxxWDQBBDv2M3bmI7cJquoAsoiJNzAXvdAjBRzjl8XeaNJDL8nSFGyopQaFVMVmzuMGVLfqZtsb1Kl5j8hmK6XFDE7yi6vJj8gaant7pr1hkOr5DHkeleBghTxAGjpuKLCZw8Q6RaFqGmokleglhpqQqKS0tE0FIVxSXCB4UnL+nlm/7gsQ7ZPvPiXvs0Jh9+fNAluhPvfvoDiQFGwpJQaFlMVmz+zB4uewsoywq4xgAAAABJRU5ErkJggg==);
}
.pm .closebuttonicon {
	background-size: 20px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAa0lEQVR4AeWSsREDIQwEtwlRhO3vP0JFPLgeHJDdnEfBh2y8F2hHnM5FJ1AayRtLshiE6F8WHUsw9kT0m8BDMFlMotZ10rzuaHtS63qo6s8HWkaLFXpo5ErXyKWukS25dRM5sXz+Pt+Ls/kBnolC6l7shJkAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: center;
}
.pm .tabbutton {
	display: inline-block;
	position: relative;
	height: 100%;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	padding: 5px 18px;
}
.pm .closebutton {
	padding: 5px 5px;
	border-left: 1px solid #c25e00
}
.pm .tabbuttons {
	margin: 0px 0px;
	font-size: 0;
	
}
.pm .tabbutton:hover {
	background-color: #ef9b2d;
}
.pm .cancelbutton:hover {
	background-color: #ef9b2d;
}
.pm .tabbuttonactive {
	
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.46) inset;
	background-color: rgba(0, 0, 0, 0.2);
	font-weight: bold;
	border: 0;
}
.pm .content {
	
	
	
	float: clear;
}
.pm .tabcontent {
	display: none;
}
.jobtablecontent {
	display: block;
}
.pm .tabcontentactive {
	display: initial;
}
.ui-tooltip {
	background: #666;
	color: white;
	border: none;
	padding: 0;
	opacity: 1;
}
.ui-tooltip-content {
	position: relative;
	padding: 5px;
}
.ui-tooltip-content::after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}
.tpright .ui-tooltip-content::after {
	top: 5px;
	left: -10px;
	border-color: transparent #666;
	border-width: 10px 10px 10px 0;
}
.tpleft .ui-tooltip-content::after {
	top: 5px;
	right: -10px;
	border-color: transparent #666;
	border-width: 10px 0 10px 10px;
}
.tptop .ui-tooltip-content::after {
	bottom: -10px;
	left: 72px;
	border-color: #666 transparent;
	border-width: 10px 10px 0;
}
.tpbottom .ui-tooltip-content::after {
	top: -10px;
	left: 72px;
	border-color: #666 transparent;
	border-width: 0 10px 10px;
}
.pm .taskcontainer {
	user-select: none;
}
.pm .tdicon {
	display: block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAXUlEQVR4AWMAgVGwjkGKNA3/GT4wZDAwkqABDA8zaBKtAQp/MjQwsBGnAQGvMVgTpwEB/zFMZ+AjoAEDPmUIpKGGfwzTGPho5OmfDPUMbKREnAYpSSOdgZGSxDcKADdXTK1stp++AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 15px;
	
	top: -2px;
	height: 24px;
	vertical-align: middle;
	transition: transform 0.4s;
	transform: rotate(0deg);
}
.pm .tdiconcollapsed {
	transform: rotate(90deg);
}
.pm td.stagetableoffset {
	background-color: #e7e7e7;
}
.pm th {
	font-size: small;
	background-color: #EEEEEE;
	border: 0px;
}
.pm td {
	background-color: white;
	border: 0;
	font-size: small;
	border-top: 1px solid rgba(84, 84, 84, 0.08);
}
.pm table {
	border-radius: 0px;
	width: 100%;
	border: 1px solid #CFCFCF;
	
}
.pm tbody {
	height: 35px;
	overflow: auto;
}
.pm tr {
	border: 0px;
}
.pm td, .pm th {
	text-align: center;
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
}
.pm tr .tdstagebutton:hover~td, tr .tdstagebutton:hover {
	background-color: rgba(184, 223, 255, 0.37);
}
.pm th.thbutton {
	width: 4%;
}
.pm th.thjobid {
	width: 6%;
}
.pm th.thjobname {
	width: 15%;
}
.pm th.thjobstatus {
	width: 15%;
}
.pm th.thjobtasks {
	width: 25%;
}
.pm th.thjobstart {
	width: 20%;
}
.pm th.thjobtime {
	width: 15%;
}
.pm th.thstageid {
	width: 15%;
}
.pm th.thstagestatus {
	width: 30%;
}
.pm th.thstagestart {
	width: 30%;
}
.pm th.thstageduration {
	width: 25%
}
progress {
	padding: 2px;
}
.pm .tdstatus {
	padding: 2px;
}
.pm .SUBMITTING {
    background-color: #1a5863; 
}
.pm .SUBMITTED {
    background-color: #1b8efa; 
}
.pm .RUNNING {
	background-color: #42A5F5;
}
.pm .FAILED {
	background-color: #DB3636;
}
.pm .COMPLETED {
	background-color: #20B520;
}
.pm .NEW {
	background-color: #9c27b0;
}
.pm .KILLED {
	background-color: #616161;
}
.pm .SUBMITTING, .pm .SUBMITTED, .pm .COMPLETED, .pm .FAILED, .pm .RUNNING, .pm .NEW, .pm .KILLED {
	font-size: 85%;
	padding: 4px 8px;
	color: white;
	border-radius: 2px;
}
.pm .stagetable tr th {
	background: rgb(235, 235, 235);
}
.pm .cssprogress {
	overflow: hidden;
	display: block;
	background: #e7e7e7;
	width: 100%;
	height: 20px;
	padding: 0;
	overflow: hidden;
	text-align: left;
	position: relative;
	font-size: 75%;
	border-radius: 2px;
	color: white;
}
.pm .cssprogress .data {
	text-align: center;
	width: 100%;
	position: absolute;
	z-index: 4;
	line-height: 20px;
}
.pm .cssprogress .val1 {
	background: #20B520;
	width: 0%;
}
.pm .cssprogress .val2 {
	background: #42A5F5;
	width: 0%;
}
.pm .cssprogress span {
	position: relative;
	height: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	transition: width 1s;
}
.pm .tdstageicon {
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAXUlEQVR4AWMAgVGwjkGKNA3/GT4wZDAwkqABDA8zaBKtAQp/MjQwsBGnAQGvMVgTpwEB/zFMZ+AjoAEDPmUIpKGGfwzTGPho5OmfDPUMbKREnAYpSSOdgZGSxDcKADdXTK1stp++AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 15px;
  
  top: -2px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.4s;
  transform: rotate(0deg);
}
.pm .tdstageiconcollapsed {
  transform: rotate(90deg);
}